<!doctype html>
<html>
<head>
    <title>Flask Flashing Example</title>
    <style>
        .warning {
            color: red;
        }
        .info{
            color: blue;
        }
    </style>
</head>
<body>
    <h1>Flashing</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>
